html {
  font-family: "Baskervville", serif;

  height: 100%;
  background: #b66b3e;
}
body {
  margin: 0;
  color: #eeddcb;
}

main {
  padding: 0 40px;
}

h1 {
  color: #eeddcb;
  /* padding: 0 30px; */
  max-width: 800px;
  font-weight: 400;
  font-size: 65px;
  font-family: "Baskervville", serif;
}

.flower {
  position: relative;
  filter: drop-shadow(-1px 6px 3px rgba(50, 0, 0, 0.16));
  right: -180px;
  top: -72px;
  z-index: -1;
}

.flower::after {
  --size: 200px;
  --bc: #7d7d7d;
  content: "";
  width: var(--size, 100px);
  height: var(--size, 100px);
  position: absolute;

  right: 0;
  top: 0;
  background-color: var(--bc, #c37c4d);
  clip-path: polygon(
    27% 5%,
    32% 12%,
    37% 18%,
    40% 27%,
    43% 19%,
    48% 10%,
    53% 5%,
    59.5% 3.5%,
    65% 6%,
    68% 12%,
    66% 21%,
    61% 32%,
    58% 37%,
    64% 40%,
    69% 45%,
    74% 49%,
    77% 56%,
    76% 64%,
    67% 68%,
    60% 65%,
    55% 59%,
    48% 51%,
    46% 59%,
    41% 70%,
    34% 74%,
    27% 74%,
    23.5% 68%,
    25% 61%,
    27% 54%,
    31% 47%,
    26% 50%,
    18% 52%,
    10% 53%,
    5% 47%,
    6% 40%,
    10% 36%,
    14% 33%,
    23% 34%,
    16% 25%,
    11% 19%,
    9% 12%,
    12% 7%,
    19% 2%
  );
}

a {
  /* color: black; */
  color: inherit;
}

p {
  font-size: 45px;
  width: 80%;
  max-width: 1200px;
}

a:focus {
  outline: 2px dotted currentColor;
}

.block {
  width: var(--size, 200px);
  height: var(--size, 200px);
  position: absolute;
  filter: drop-shadow(-1px 6px 3px rgba(50, 0, 0, 0.16));
  left: var(--left, 0);
  top: var(--top, 0);
  display: none;
}

.block::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bc, #c37c4d);
}

.block--1 {
}
.block--2 {
  --left: 100px;
  --size: 100px;
}
.block--3 {
  --left: 300px;
}
.block--4 {
  --left: 600px;
}

.block--1::after {
  clip-path: polygon(
    27% 5%,
    32% 12%,
    37% 18%,
    40% 27%,
    43% 19%,
    48% 10%,
    53% 5%,
    59.5% 3.5%,
    65% 6%,
    68% 12%,
    66% 21%,
    61% 32%,
    58% 37%,
    64% 40%,
    69% 45%,
    74% 49%,
    77% 56%,
    76% 64%,
    67% 68%,
    60% 65%,
    55% 59%,
    48% 51%,
    46% 59%,
    41% 70%,
    34% 74%,
    27% 74%,
    23.5% 68%,
    25% 61%,
    27% 54%,
    31% 47%,
    26% 50%,
    18% 52%,
    10% 53%,
    5% 47%,
    6% 40%,
    10% 36%,
    14% 33%,
    23% 34%,
    16% 25%,
    11% 19%,
    9% 12%,
    12% 7%,
    19% 2%
  );
}

.block--2::after {
  /* --bc: #d2996c; */
  clip-path: polygon(
    27% 5%,
    32% 12%,
    37% 18%,
    40% 27%,
    43% 19%,
    48% 10%,
    53% 5%,
    59.5% 3.5%,
    65% 6%,
    68% 12%,
    66% 21%,
    61% 32%,
    58% 37%,
    64% 40%,
    69% 45%,
    74% 49%,
    77% 56%,
    76% 64%,
    67% 68%,
    60% 65%,
    55% 59%,
    48% 51%,
    46% 59%,
    41% 70%,
    34% 74%,
    27% 74%,
    23.5% 68%,
    25% 61%,
    27% 54%,
    31% 47%,
    26% 50%,
    18% 52%,
    10% 53%,
    5% 47%,
    6% 40%,
    10% 36%,
    14% 33%,
    23% 34%,
    16% 25%,
    11% 19%,
    9% 12%,
    12% 7%,
    19% 2%
  );
}

.block--3::after {
  clip-path: polygon(
    27% 5%,
    32% 12%,
    37% 18%,
    40% 27%,
    43% 19%,
    48% 10%,
    53% 5%,
    59.5% 3.5%,
    65% 6%,
    68% 12%,
    66% 21%,
    61% 32%,
    58% 37%,
    64% 40%,
    69% 45%,
    74% 49%,
    77% 56%,
    76% 64%,
    67% 68%,
    60% 65%,
    55% 59%,
    48% 51%,
    46% 59%,
    41% 70%,
    34% 74%,
    27% 74%,
    23.5% 68%,
    25% 61%,
    27% 54%,
    31% 47%,
    26% 50%,
    18% 52%,
    10% 53%,
    5% 47%,
    6% 40%,
    10% 36%,
    14% 33%,
    23% 34%,
    16% 25%,
    11% 19%,
    9% 12%,
    12% 7%,
    19% 2%
  );
}

.block--4::after {
  clip-path: polygon(
    27% 5%,
    32% 12%,
    37% 18%,
    40% 27%,
    43% 19%,
    48% 10%,
    53% 5%,
    59.5% 3.5%,
    65% 6%,
    68% 12%,
    66% 21%,
    61% 32%,
    58% 37%,
    64% 40%,
    69% 45%,
    74% 49%,
    77% 56%,
    76% 64%,
    67% 68%,
    60% 65%,
    55% 59%,
    48% 51%,
    46% 59%,
    41% 70%,
    34% 74%,
    27% 74%,
    23.5% 68%,
    25% 61%,
    27% 54%,
    31% 47%,
    26% 50%,
    18% 52%,
    10% 53%,
    5% 47%,
    6% 40%,
    10% 36%,
    14% 33%,
    23% 34%,
    16% 25%,
    11% 19%,
    9% 12%,
    12% 7%,
    19% 2%
  );
}
