:root {
  --body-background: #b66b3e;
  --body-color: #eeddcb;
  --clip-path: polygon(
    27% 5%,
    32% 12%,
    37% 18%,
    40% 27%,
    43% 19%,
    48% 10%,
    53% 5%,
    59.5% 3.5%,
    65% 6%,
    68% 12%,
    66% 21%,
    61% 32%,
    58% 37%,
    64% 40%,
    69% 45%,
    74% 49%,
    77% 56%,
    76% 64%,
    67% 68%,
    60% 65%,
    55% 59%,
    48% 51%,
    46% 59%,
    41% 70%,
    34% 74%,
    27% 74%,
    23.5% 68%,
    25% 61%,
    27% 54%,
    31% 47%,
    26% 50%,
    18% 52%,
    10% 53%,
    5% 47%,
    6% 40%,
    10% 36%,
    14% 33%,
    23% 34%,
    16% 25%,
    11% 19%,
    9% 12%,
    12% 7%,
    19% 2%
  );
  --shape-clip-path: polygon(
    95.32% 7.41%,
    99.72% 15.83%,
    93.79% 24.08%,
    83.16% 33.69%,
    78.54% 41.61%,
    74.4% 49.26%,
    70.84% 58.13%,
    69.07% 65.42%,
    68.78% 72.17%,
    69.76% 78.97%,
    72.36% 85.14%,
    77.15% 91.55%,
    83.82% 96.79%,
    85.58% 101.66%,
    88.36% 104.49%,
    7px 98.41%,
    2.41% 0.11%
  );
}

html {
  font-family: "Baskervville", serif;
  background: var(--body-background);
}
body {
  margin: 0;
  color: var(--body-color);
  overflow-x: hidden;
}

main {
  padding: var(--p, 0 20px 50px);
  overflow-x: hidden;
}

@media (min-width: 600px) {
  main {
    --p: 0 40px 50px;
  }
}

a {
  color: inherit;
  transition: 600ms color ease;
}

a:hover {
  color: black;
}

a:focus {
  outline: 2px dotted currentColor;
}

p {
  font-size: var(--fs, 25px);
  width: var(--w, 90%);
  max-width: 1200px;
}

@media (min-width: 500px) {
  p {
    --fs: 39px;
    --w: 82%;
  }
}

@media (min-width: 800px) {
  p {
    --fs: 45px;
    --w: 80%;
  }
}

h1 {
  max-width: 800px;
  font-weight: 400;
  font-size: var(--fs, 50px);
  line-height: var(--lh, 1.1);
}

@media (min-width: 600px) {
  h1 {
    --fs: 65px;
    --lh: 1.3;
  }
}

.flower {
  position: relative;
  filter: drop-shadow(-1px 6px 3px rgba(50, 0, 0, 0.16));
  right: var(--r, -150px);
  top: -72px;
  z-index: -1;
}

@media (min-width: 500px) {
  .flower {
    --r: -180px;
  }
}

.flower::after {
  --size: 200px;
  content: "";
  width: var(--size, 100px);
  height: var(--size, 100px);
  position: absolute;
  right: 0;
  top: 0;
  background-color: #7d7d7d;
  clip-path: var(--clip-path);
  -webkit-clip-path: var(--clip-path);
}

.block {
  width: 200px;
  height: 200px;
  position: absolute;
  filter: drop-shadow(-1px 6px 3px rgba(50, 0, 0, 0.16));
  left: 0;
  top: 0;
  pointer-events: none;
  mix-blend-mode: exclusion;
}

.block::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c37c4d;
  clip-path: var(--clip-path);
  -webkit-clip-path: var(--clip-path);
}

.links {
  font-size: 22px;
}

.links a {
  padding: 5px 0;
}

.shape {
  background: var(--bc, hsl(16, 48%, 38%, 28%));
  position: absolute;
  height: 90vh;
  width: 60vw;
  clip-path: var(--shape-clip-path);
  -webkit-clip-path: var(--shape-clip-path);
  max-width: 800px;
  z-index: -1;
}

.shape--2 {
  --bc: hsla(16, 48%, 38%, 28%);
  right: 40px;
  transform: scale(-1);
  mix-blend-mode: soft-light;
}
